<header>
    <div class="outer_div">
        <div class="inner">
            <span>
                <img src="assets/logo.png" alt="Worldpedia">
            </span>
            <span>Best list of all countries with their flags<br>on the whole internet !!!</span>
            <p>Best list of all countries with their flags on the whole internet !!</p>
        </div>
    </div>
    <div class="search">
        <div class="search_bar">
            <div class="col-8 col-sm-10 col-md-10 col-lg-10">
                <input type="search" [(ngModel)]="searchText">
            </div>
            <div class="col-4 col-sm-2 col-md-2 col-lg-2">
                <button [disabled]="searchText.length <= 0" (click)="search.emit(searchText)">Search</button>
            </div>
        </div>
    </div>
</header>