<footer>
    <div class="footer_outer">
        <div class="footer-inner">
            <div class="top-content">
                <span>
                    <img src="assets/logo.png" alt="Worldpedia">
                </span>
                <div>
                    <span><input type="text" placeholder="Enter Email" [(ngModel)]="mail"></span>
                    <button type="submit" (click)="validateEmail()">Subscribe</button>
                </div>
            </div>
            <div class="bottom-content">
                <span>Worldpedia Inc</span>
                <span class="copyrights-info">2023 | All Rights Reserved</span>
            </div>
        </div>
    </div>
</footer>