<app-header></app-header>

<div class="row content-container">
    <div *ngFor="let country of countriesList.slice(0,listSize)" class="col country_container">
        <div class="country_card">
            <div class="country_image">
                <img [src]="country.flags.png" [alt]="country.flags.alt" width="250" height="150">
            </div>
            <div class="country_info">
                <span>{{country.name.common}}</span>
                <span>{{country.region}}</span>
            </div>
        </div>
    </div>
    <div class="row load_more" *ngIf="countriesList.length > 0">
        <button class="load_more_button" (click)="loadMore()">Load More</button>
    </div>
</div>

<app-footer></app-footer>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>