.content-container{
    height: calc(100vh - 402px);
    overflow: auto;
    max-width: 90%;
    margin: auto;
    justify-content: center;
    margin-top: 4rem;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

.content-container::-webkit-scrollbar{
    display: none;
}

.country_container{
    cursor: pointer;
    max-width: max-content;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 1rem;
    height: max-content;
    .country_image{
        border: 1px solid #ccc;
        border-radius: 4px;
        overflow: hidden;
    }
    .country_card{
        margin-bottom: 1rem;
    }
}

.country_card .country_info{
    span{
        display: flex;
        flex-direction: column;
    }
    span:first-of-type{
        font-weight: 600;
        text-transform: capitalize;
    }
    span:last-of-type{
        text-transform: uppercase;
        color: #9a9a9a;
        font-size: 12px;
        font-weight: 600;
    }
}

.load_more{
    justify-content: center;
    margin: 1rem 0 2rem 0;
    .load_more_button{
        max-width: max-content;
        border: none;
        border-radius: 4px;
        padding: 0.5rem 1rem;
        background-color: #064885;
        color: #FFF;
        text-transform: uppercase;
        font-size: 12px;
        font-family: system-ui;
        font-weight: 600;
    }
}

.not_found{
    display: flex;
    margin-top: 6rem;
    flex-direction: column;
    align-items: center;
    span{
        margin-top: 2rem;
        font-size: 30px;
        text-transform: capitalize;
        font-weight: 800;
        color: #9a9a9a;
    }
}

.heading{
    display: flex;
    justify-content: space-between;
    span:first-of-type{
        font-size: 16px;
        font-weight: 600;
        font-family: sans-serif;
    }
    span:last-of-type{
        cursor: pointer;
    }
}

.flag_img{
    img{
        border: 1px solid #cccccc70;
        border-radius: 4px;
    }
}

.country_info{
    margin-top: 1rem;
    font-family: sans-serif;
    .col-3{
        font-weight: 600;
        font-size: 14px;
    }
    .col{
        font-size: 14px;
        color: #9a9a9a;
    }
}